  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Lato",
    'Arial',
    sans-serif;
  }

  .content {
    padding: 80px 0;
  }

  .container {
    margin: 0 auto;
    max-width: 1830px;
    padding: 0 30px;
  }

  .heading {
    margin: 0 0 40px;
    font-weight: 700;
    line-height: 65px;
    font-size: 50px;
    color: #2d2d2d;
  }

  .paragraph {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
  }

  .paragraph:last-child {
    margin-bottom: 0;
  }

  .text {
    margin: 0 0 200px;
  }

  .pointer {
    display: inline;
    position: relative;
    top: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  .link {
    padding-left: 30px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left;
  }

  .reference {
    background-image: url(../favicons/pointer.svg);
    color: #2d2d2d;
    text-decoration: none;
  }

  .reference:hover {
    color: rgb(78, 157, 177);
  }

  .author {
    float: right;
    display: inline;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
  }

  .footer {
    display: flow-root;
  }